:root {
  --header-bg-dark: #202225;
  --header-fg-dark: #A6A7A8;
  --sidebar-bg-dark: #2F3136;
  --sidebar-fg-dark: #ECEDEE;
  --content-bg-dark: #36393F;
  --content-fg-dark: #DCDDDE;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;

  background-color: var(--header-dark-bg);
}

.App {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: [header] max-content [content] 1fr [footer] max-content;
  grid-template-areas: "header header"
                       "content content"
                       "footer footer";
}

header, footer {
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.15em 0 0.15em 0.5em;

  color: var(--header-fg-dark);
  background-color: var(--header-bg-dark);
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}


/********************************* 
 ** DisplayNotes setup
* *********************************/

/** display-notes: the wrapper around the list of saved notes*/
.display-notes {
  box-sizing: border-box;
  grid-area: content;
  overflow-y: auto;
  background-color: var(--sidebar-bg-dark);
}

/** saved-notes-list: list of all notes in state */
#saved-notes-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;

  color: var(--sidebar-fg-dark);
}

/** saved-note: individual note list item */
.saved-note {
  box-sizing: border-box;
  list-style-type: none;
  max-height: 110px;
  height: max-content;
  width: 100%;
  padding: 0.5em 0.25em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  border-style: none;
  border-bottom: 1px solid gray;
}

/** saved-note-title: title of note */
.saved-note-title {
  font-weight: 500;
  font-size: 1.1em;
}

/** saved-note-text-snippet: a snippet of the note the user saved */
.saved-note-text-snippet {
  max-height: 1.15em;
  margin: 0.5em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 1em;
  text-indent: 1em; 
  color: inherit;
}

/** saved-note-date: date the note was last saved */
.saved-note-date {
  font-size: 0.75em;
  opacity: 0.65;
}



/** DESKTOP VIEW */
@media screen and (min-width: 850px) {
  .App {
    grid-template-areas: "header header"
                         "content selected-content"
                         "footer footer";
  }
}