:root {
  --header-bg-dark: #202225;
  --header-fg-dark: #A6A7A8;
  --sidebar-bg-dark: #2F3136;
  --sidebar-fg-dark: #ECEDEE;
  --content-bg-dark: #36393F;
  --content-fg-dark: #DCDDDE;

  --note-header-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
  --note-text-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  --note-date-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;

  background-color: var(--header-dark-bg);
}

.App {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: [header] max-content [content] 1fr [footer] max-content;
  grid-template-areas: "header header"
                       "content content"
                       "footer footer";
}

header, footer {
  box-sizing: border-box;
  height: 32px;

  color: var(--header-fg-dark);
  background-color: var(--header-bg-dark);
}

header {
  grid-area: header;
  font-weight: bold;
  font-size: 1.15em;
}

footer {
  grid-area: footer;
}


/********************************* 
 ** DisplayNotes setup
* *********************************/


/**! display-notes ---> note-view */
/** display-notes: the wrapper around the list of saved notes*/
.note-view {
  box-sizing: border-box;
  grid-area: content;
  overflow: hidden;

  display: flex;
  flex: 1 1 100%;
}

.display-notes {
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  background-color: var(--sidebar-bg-dark);


}




/** saved-notes-list: list of all notes in state */
#saved-notes-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;

  color: var(--sidebar-fg-dark);
}

/** saved-note: individual note list item */
.saved-note {
  box-sizing: border-box;
  list-style-type: none;
  height: max-content;
  width: 100%;
  padding: 0.75em 0.25em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  border-style: none;
  border-bottom: 1px solid gray;
}

/** saved-note-title: title of note */
.saved-note-title {
  font-weight: 500;
  /*font-size: 1.1em;*/
  font-size: var(--note-header-size);
}

/** saved-note-text-snippet: a snippet of the note the user saved */
.saved-note-text-snippet {
  margin: 0.85em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: var(--note-text-size);
  text-indent: 1em; 
  color: inherit;
}

/** saved-note-date: date the note was last saved */
.saved-note-date {
  font-size: var(--note-date-size);
  opacity: 0.65;
}


/** CURRENT NOTE SETUP */
/** current-note: wrapper when creating / editing a note */
.current-note {
  background-color: green;
  display: none;
  padding: 1em 0.5em;

  color: var(--content-fg-dark);
  background-color: var(--content-bg-dark);
}

/** edit-note: the title and text of the current note being created/edited */
.edit-note {
  max-height: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  color: inherit;
  background-color: inherit;
}

/** title of current note */
#edit-note-title {
  width: 100%;
  font-size: 2em;
  margin-bottom: 0.5em;

  color: inherit;
  background-color: inherit;
}

#edit-note-title::placeholder {
  opacity: 0.8;
}

/** text of current note */
#edit-note-text {
  flex: 1 1 auto;
  font-size: 1em;

  color: inherit;
  background-color: inherit; 
  resize: none;
}

/** SCROLLBAR SETUP */
/** scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/** track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/** DESKTOP VIEW */
@media screen and (min-width: 850px) {
  /** display notes will NOT grow and is resized to 300px */
  .display-notes {
    max-width: 350px;
    flex: 0 1 350px;
  }

  /** edit note view will be displayed, taking up the remaining space
   ** after display-notes */
  .current-note {
    display: block;
    flex: 1 1 100%;
  }
}


